<ion-view view-title="Resalg Sesongkort Godkjenn" >
  <ion-content class="scroll-bg">
    <div class="list card next-match-container">
      <div class="list card">
        <div class="item item-divider dark">
          <p class="item2">Info</p>
          <p> Din bilett for denne kampen vil bli lagt ut til salg. </p><p> Du kan velge om du ønsker å få refundert $$$,- nok </p> <p> eller donere summen til Oilersspillernes Veldedighetsfond </p>
        </div>
      </div>
      <div class="list card">
        <div class="item item-divider dark">
          <p class="item2">Refusjonsvalg</p>
        </div>
        <ion-checkbox class="checkbox-dark">Ha penger tilgode</ion-checkbox>
        <ion-checkbox class="checkbox-dark">Doner beløpet*</ion-checkbox>
        <label class="item">
          <button class="button button-block button-dark" ng-click="showConfirm()">Send</button>
        </label>
    </div>
  </ion-content>
</ion-view>
