<ion-view view-title="Godkjenn salg av billett" >
  <ion-content class="scroll-bg-2">
    <div class="list card next-match-container">
      <div class="list card">
        <div class="item item-divider dark item-text-wrap">
          <p class="item2">Info</p>
          <p> Din billett for denne kampen vil bli lagt ut til salg. Du kan velge om du ønsker å få refundert $$$,- nok, eller donere summen til Oilersspillernes Veldedighetsfond.</p>
        </div>
      </div>
    </div>
    <div class="list card next-match-container">
      <div class="list card">
        <div class="item item-divider dark">
          <p class="item2">Refusjonsvalg</p>
        </div>
          <ion-checkbox class="checkbox-dark">Få penger tilgode</ion-checkbox>
          <ion-checkbox class="checkbox-dark">Doner beløpet*</ion-checkbox>
      </div>
    </div>
    <div class="padding">
      <a class="button button-dark button-block sell-ticket-btn" ng-click="showConfirm()">Fullfør Salg</a>
    </div>
  </ion-content>
</ion-view>
