<ion-view view-title="Registrer">
  <ion-content>
    <div class="list card">
      <div class="item item-divider dark">
        <p class="item2">Personlig Informasjon</p>
      </div>
      <label class="item item-input">
        <input type="text" placeholder="Navn">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Adresse">
      </label>
      <label class="item item-input">
        <input type="tel" placeholder="Tlf">
      </label>
      <label class="item item-input">
        <input type="email" placeholder="Email">
      </label>
    </div>
    <div class="list card">
      <div class="item item-divider dark">
        <p class="item2">Kundeinformasjon</p>
      </div>
      <label class="item item-input">
        <input type="number" placeholder="Kundenummer">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Felt">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Rad">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Sete">
      </label>
    </div>
    <label class="item">
      <button class="button button-block button-dark" type="submit">Lagre</button>
    </label>
    </div>
  </ion-content>
</ion-view>
