<ion-view view-title="Registrering">
  <ion-content class="scroll-bg">
  <form name="registerForm">
    <div class="list card">
      <div class="item item-divider dark">
        <p class="item2">Personlig Informasjon</p>
      </div>
      <md-content class="md-padding" layout="row" layout-sm="column">
        <md-input-container>
          <label>Navn</label>
          <input ng-model="user.name">
        </md-input-container>
         <md-input-container>
          <label>Adresse</label>
          <input ng-model="user.adress">
        </md-input-container>
         <md-input-container>
          <label>Telefonnummer</label>
          <input ng-model="user.phone">
        </md-input-container>
         <md-input-container>
          <label>Email</label>
          <input type="email" ng-model="user.email">
        </md-input-container>
      </md-content>
    </div>
    <div class="list card">
      <div class="item item-divider dark">
        <p class="item2">Kundeinformasjon</p>
      </div>
      <md-content class="md-padding" layout="row" layout-sm="column">
        <md-input-container>
          <label>Kundenummer</label>
          <input ng-model="user.customerNr">
        </md-input-container>
         <md-input-container>
          <label>Felt</label>
          <input ng-model="user.field">
        </md-input-container>
         <md-input-container>
          <label>Rad</label>
          <input ng-model="user.row">
        </md-input-container>
         <md-input-container>
          <label>Sete</label>
          <input ng-model="user.seat">
        </md-input-container>
      </md-content>
    </div>
    <div class="padding">
      <a class="button button-block button-dark sell-ticket-btn">Lagre</a>
    </div>
    </form>
  </ion-content>
</ion-view>
