<ion-view view-title="Sesongkort" >
  <ion-content class="scroll-bg">

    <div class="list card next-match-container">
      <div class="item item-image">
        <img src="../img/nestekamp.PNG" class="opponent">
      </div>
      <div class="item match-info">
          <h2 class="match-time">18:00</h2>
          <h3 class="match-date">TORSDAG 19. FEBRUAR</h3>
          <p class="match-text">Arenaen åpner halvannen time før kampstart</p>
      </div>
    </div>
    <!--<div class="padding">
      <a href="#/app/resalg/1" class="button button-dark button-block icon-right ion-chevron-right sell-ticket-btn">
      Selg billetten til denne kampen
      </a>
      </div>-->

      <div class="list card dark">
        <div class="item item-divider">
          <h2>Kommer du på kampen?</p>
        </div>
        <div class="row">
          <div class="col"><button class="button button-block button-balanced icon-left ion-thumbsup">Ja!</button></div>
          <div class="col"><button class="button button-block button-assertive icon-left ion-thumbsdown">Nei</button></div>
        </div>
      </div>
  </ion-content>
</ion-view>
