<ion-view view-title="Sesongkort" >
  <ion-content class="scroll-bg">

    <div class="list card next-match-container">
      <div class="item item-image">
        <img src="../img/nestekamp.PNG" class="opponent">
      </div>
      <div class="item match-info item-text-wrap">
          <h2 class="match-time">18:00</h2>
          <h3 class="match-date">TORSDAG 19. FEBRUAR</h3>
          <p class="match-text">Arenaen åpner halvannen time før kampstart</p>
      </div>
    </div>
    <img src="../img/StavangerOilerslogo.png" />
    <!--<div class="padding">
      <a href="#/app/resalg/1" class="button button-dark button-block icon-right ion-chevron-right sell-ticket-btn">
      Selg billetten til denne kampen
      </a>
    </div>
      </div>-->

      <div class="list card dark">
        <div class="item item-divider item-text-wrap">
          <!--<h2>Kommer du på kampen?</p> -->
          <h2>Har du ikke anledning til å komme på kampen? </h2>
          <h3>Hjelp oss å fylle tribunene ved å låne bort plassen din til noen andre!</h3>

        </div>
        <!--<div class="row">
          <div class="col"><button class="button button-block button-balanced icon-left ion-thumbsup">Ja!</button></div>
          <div class="col"><button class="button button-block button-assertive icon-left ion-thumbsdown" ng-click="show()">Nei</button></div>
         <div class="col"><button class="button button-block button-positive icon-left ion-checkmark" ng-click="show()">Nei, men andre skal få en mulighet!</button></div>
        </div>-->

        <!--<div><button class="button button-block button-balanced icon-left ion-thumbsup">Ja!</button></div>
        <div><button class="button button-block button-positive icon-left ion-checkmark" ng-click="show()">Nei, gi andre muligheten!</button></div> -->


        <div class="row">
          <button class="button button-block button-balanced icon-left ion-thumbsup sell-ticket-btn">Selg setet mitt for denne kampen!</button>
        </div>
        <div class="row">
          <button class="button button-block button-positive icon-left ion-checkmark sell-ticket-btn" ng-click="show()">Jeg skal på kampen!</button>
        </div>


      </div>
  </ion-content>
</ion-view>
